:root {
    --qlabBackground: #2c2c2c;
    --qlabBorder: #323232;
    --qlabText: #c0c0c0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Montserrat, Verdana, Sans-Serif
}

body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--qlabBackground);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: var(--qlabText);
    text-align: center;
}
.version-select {
    display: flex;
    gap: 80px;
}

.version-select img {
    height: 150px;
    padding: 20px;
    border-radius: 40%;
    margin: 0 20px;
}

.version-select img:hover {
    cursor: pointer;
    border: solid thin var(--qlabText);
}

.selected {
    box-shadow: inset 0 0 2em hsl(276, 94%, 74%);
}

.syntax-options {
    color: var(--qlabText);
    display: block;
    padding: 12px 0;
}

.radio-button {
    display: flex;
    font-weight: normal;
    line-height: 1.1;
    gap: 0.5em;
}

input[type="radio"] {
    display: inline;
appearance: none;
margin: 0;
width: 1.15em;
height: 1.15em;
border: 0.15em solid var(--qlabText);
border-radius: 50%;
color: var(--qlabText);
transform: translateY(+0.075em);
display: grid;
place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    color: var(--qlabText);
    border-radius: 50%;
    transform: scale(0);
    transition: 200ms transform ease-in-out;
    box-shadow: inset 1em 1em hsl(276, 94%, 74%);
  }

input[type="radio"]:checked::before {
    transform: scale(1);
  }

.radio-button + .radio-button {
    margin-top: 1em;
}
#text-display {
    position: absolute;
    bottom: 50vh;
    margin: 0;
    background-color: var(--qlabBackground);
    border-radius: 0.5em;
    color: var(--qlabText);
    font-size: 18px;
    min-height: 24px;
    transition: 0.4s;
    animation: fadeShadow 0.3s;
}

@keyframes fadeShadow {
    0% {
        opacity: 0;
        box-shadow: 0 0 0;
        line-height: 0;
        border: none;}
    50% {
        box-shadow: 0 0 0.5em var(--qlabText);
        line-height: 20px;
        opacity: 0.75;
        border: solid thin var(--qlabBorder);
    }
    100% {
        box-shadow: 0 0 0;
        line-height: 0;
        opacity: 0;
        border: none;
    }
}
.color-container {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap: 8px;
}
.color {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 120px;
    height: 120px;
    margin: 2px;
    border-radius: 20px;
    color: var(--qlabText);
}

.color:hover {
    transition: 0.2s;
    cursor: pointer;
}

.light,
.dark {
    min-height: 50px;
    flex: 2;
    line-height: 50px;
    display: inline-box;
}

.dark {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.light {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

footer {
    /* margin: em 0; */
}
footer p {
    text-align: center;
    color: var(--qlabText);
    margin: 0.5em;
    font-size: 1em;
}

footer a {
    text-decoration: none;
    color: var(--qlabText);
}