:root {
    --qlabBackground: #2c2c2c;
    --qlabBorder: #323232;
    --qlabText: #c0c0c0;
    --lightPurple: hsl(276, 94%, 74%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Montserrat, Verdana, Sans-Serif;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--qlabBackground);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

h1 {
    color: var(--qlabText);
    text-align: center;
    margin: 0;
}

.version-select {
    display: flex;
    gap: 80px;
    
}

.version-select img {
    height: 150px;
    padding: 20px;
    border-radius: 40%;
    margin: 0 20px;
    transition: 0.2s;
}

.version-select img:hover {
    cursor: pointer;
    border: solid thin var(--qlabText);
}

.selected {
    box-shadow: inset 0 0 2em var(--lightPurple);
    animation: dipSize 0.2s;
}

@keyframes dipSize {
    50% {transform: scale(95%);}
}

.syntax-options {
    color: var(--qlabText);
    padding: 8px 0;
}

.radio-button {
    display: flex;
    font-weight: normal;
    line-height: 1.1;
    gap: 0.5em;
}

input[type="radio"] {
    display: inline;
    appearance: none;
    margin: 0;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--qlabText);
    border-radius: 50%;
    color: var(--qlabText);
    z-index: -1;
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    color: var(--qlabText);
    border-radius: 50%;
    transform: scale(0);
    transition: 200ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--lightPurple);
  }

input[type="radio"]:checked::before {
    transform: scale(1);
  }

.radio-button + .radio-button {
    margin-top: 1em;
}

#text-display {
    position:-webkit-sticky;
    position:sticky;
    bottom: 50vh;
    margin: 0;
    background-color: var(--qlabBackground);
    border-radius: 0.5em;
    color: var(--qlabText);
    font-size: 18px;
    min-height: 24px;
    transition: 0.4s;
    animation: fadeShadow 0.3s;
}

@keyframes fadeShadow {
    0% {
        opacity: 0;
        box-shadow: 0 0 0;
        line-height: 0;
        border: none;}
    50% {
        box-shadow: 0 0 0.5em var(--qlabText);
        line-height: 20px;
        opacity: 0.75;
        border: solid thin var(--qlabBorder);
    }
    100% {
        box-shadow: 0 0 0;
        line-height: 0;
        opacity: 0;
        border: none;
    }
}

.color-container {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap: 8px;
}

.color {
    display: flex;
    text-align: center;

    flex-direction: column;
    word-wrap:break-word;
    hyphens: manual;
    width: 120px;
    height: 120px;
    margin: 2px;
    border-radius: 20px;
    color: var(--qlabText);
}

.color:hover {
    transition: 0.2s;
    cursor: pointer;
}

.light,
.dark {
    min-height: 50px;
    padding: 10% 0;
    flex: 2;
    vertical-align: bottom;
    /* line-height: 50px; */
    inline-size: 120px;

    /* display: inline; */
}

.dark {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.light {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

footer p {
    text-align: center;
    color: var(--qlabText);
    margin: 0.5em;
    font-size: 1em;
}

footer a {
    text-decoration: none;
    color: var(--qlabText);
}

#instructions-btn {
    margin: 8px 0 0 0;
    width: 120px;
    padding: 6px 12px;
    background-color: var(--qlabBorder);
    border-radius: 8px;
    color: var(--qlabText);
    transition-duration: 0.4s;
    border: 1px solid var(--qlabText);
}

#instructions-btn:hover {
    box-shadow: 0 0 1em var(--lightPurple);
    cursor: pointer;
}    

#instructions-popup {
    position: fixed;
    display: none;
    opacity: 0;
    transition: opacity 0.4s;
    background-color: rgba(169, 169, 169, 0.199);
    width: 100%;
    height: 100%;
}

#instructions-window {
    position: fixed;
    width: 600px;
    height: 550px;
    background: var(--qlabBackground);
    color: var(--qlabText);
    border: 24px solid var(--qlabBorder);
    border-radius: 24px;
    padding: 16px;
    margin: auto;
    box-shadow: 0 0 0.5em var(--lightPurple);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }    

#instructions-header {
    text-align: center;
}

#instructions-header h1 {
    font-size: 24px;
}
#instructions-header p {
    font-size: 12px;
    font-style: italic;
    margin: 0 0 8px 0;
}
a {
    text-decoration: none;
    color: var(--qlabText);
}

#instructions-text h4 {
    margin: 0;
    font-size: 18px;
}

#instructions-text {
    font-size: 16px;
    line-height: 24px;
}

#close-btn {
    position: relative;
    background-color: var(--qlabBorder);
    border: 1px solid var(--qlabText);
    border-radius: 12px;
    color: var(--qlabText);
    margin-top: 12px;
    padding: 12px 18px;
    left: 92%;
    bottom: 455px;
}

#close-btn:hover {
    cursor: pointer;
}